# Virtual environments
.venv/
venv/
ENV/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE (PyCharm, VSCode, etc.)
.idea/
.vscode/

# Datasets (TensorFlow / custom)
tensorflow_datasets/
datasets/

# Models (all common formats)
models/
*.h5
*.ckpt
*.keras
*.pb
*.tflite

# Logs
*.log
logs/

# Jupyter
.ipynb_checkpoints/
